{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
<article{{ attributes.addClass(container) }}>
    <div class="container">

        {{ title_prefix }}
        {% if not page %}
            <h2{{ title_attributes }}>
                <a href="{{ url }}" rel="bookmark">{{ label }}</a>
            </h2>
        {% endif %}
        {{ title_suffix }}
        
        {% if display_submitted %}
            <footer>
                {{ author_picture }}
                <div{{ author_attributes }}>
                    {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                    {{ metadata }}
                </div>
            </footer>
        {% endif %}
        <div class="row">
            <div{{ content_attributes }} class="col-md-6">
                {% if content.field_address|render %}
                    {{ content.field_address }}
                {% endif %}
                {% if content.field_customer_phone_number|render %}
                    <strong>{% trans %}Phone: {% endtrans %}</strong>{{ content.field_customer_phone_number }}
                {% endif %}
                {% if content.field_customer_phone_number|render and content.field_customer_fax_number|render %}
                    |
                {% endif %}
                {% if content.field_customer_fax_number|render %}
                    <strong>{% trans %}Fax: {% endtrans %}</strong>{{ content.field_customer_fax_number }}
                {% endif %}
                {% if content.field_customer_web_site|render %}
                    {{ content.field_customer_web_site }}
                {% endif %}
                {% if content.field_administrator|render %}
                    <div class="facility-administrator"><strong>{% trans %}Administrator: {% endtrans %}</strong>{{ content.field_administrator }}</div>
                {% endif %}
                {% if content.field_licensed_nursing_facility_|render %}
                    <div class="facility-nursing-beds"><strong>{% trans %}Licensed Nursing Facility Beds: {% endtrans %}</strong>{{ content.field_licensed_nursing_facility_ }}</div>
                {% endif %}
                {% if content.field_languages_spoken|render %}
                    <div class="facility-languages"><strong>{% trans %}Languages Spokens: {% endtrans %}</strong>{{ content.field_languages_spoken }}</div>
                {% endif %}
                {% if content.field_specialized_unit|render %}
                    <div class="facility-specialized-units"><strong>{% trans %}Specialized Units: {% endtrans %}</strong>{{ content.field_specialized_unit }}</div>
                {% endif %}
                {% if content.field_populations_served|render %}
                    <div class="facility-populations"><strong>{% trans %}Specialty Populations Served: {% endtrans %}</strong>{{ content.field_populations_served }}</div>
                {% endif %}

                {% if content.field_medicaid['0']['#markup'] == 'Medicaid' or content.field_medicare['0']['#markup'] == 'Medicare' or content.field_va_contract['0']['#markup'] == 'VA Contract' or content.field_pace_program['0']['#markup'] == 'On' %}
                    <strong>{% trans %}Facility Participates in: {% endtrans %}</strong>
                    <ul>
                    {% if content.field_medicaid['0']['#markup'] == 'Medicaid' %}
                        <li>{{ content.field_medicaid }}</li>
                    {% endif %}
                    {% if content.field_medicare['0']['#markup'] == 'Medicare' %}
                        <li>{{ content.field_medicare }}</li>
                    {% endif %}
                    {% if content.field_va_contract['0']['#markup'] == 'VA Contract' %}
                        <li>{{ content.field_va_contract }}</li>
                    {% endif %}
                    {% if content.field_pace_program['0']['#markup'] == 'On' %}
                        <li>{% trans %}PACE program{% endtrans %}</li>
                    {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div{{ content_attributes }} class="col-md-6 text-center">

                {% if content.field_facility_image|render %}
                    {{ content.field_facility_image }}
                {% endif %}
                {% if content.field_facebook|render %}
                    {{ content.field_facebook }}
                {% endif %}
                {% if content.field_twitter|render %}
                    {{ content.field_twitter }}
                {% endif %}
                {% if content.field_linkedin|render %}
                    {{ content.field_linkedin }}
                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% if content.field_related_content|render %}
                    {{ content.field_related_content }}
                {% endif %}
            </div>
        </div>
    </div>

</article>
